//variables
// Theme color
$primary: #326dee;
$secondary: #1ac886;
$error: #d32752;
$info: #f6c31c;
$base_color: #ffffff;

//spacing
$base_padding: 0.75rem;
$base_margin: 0.75rem;

//borders
$base_border_thickness: 1px;
$base_border_radius: 20px;
